html, body {
    margin: 0;
    padding: 0;
    background-color: white
}
h1{
    font-size: 25px;
    background-image: linear-gradient(to right, #CC80DB, #6DB3F2);
    margin: 0;
    padding: 10px;
    width: 100%;
}
#colorInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
    gap: 5px;
    background-color: white;
    padding: 10px;
}

#color{
    height: 40px;
    padding: 5px;
}

#mode{
    width: 50%;
}
button{
    width: 35%;
    font-size: 15px;
    margin-right: 10px;
}
.schemeColor {
    width: 550px;
    height: 100%;
    flex-direction: row;
    border: 1px solid black;
}

.schemeHex{
border: 1px solid black; 
padding: 10px;
height: 30px;
}
.schemeHex:hover{
background-color: #B8C6BE;

}
#hexSelector{
    display: flex;
    justify-content:  space-around;
    height: 20%;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 20px;
}

#colorSelection{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 414px;
    background-color: azure;
    
}